{% extends 'base.html.twig' %}

{% block title %}Conosci Andreas!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}


    <div id="navbar">
        <ul id="urls">
            <li><a href={{Menu0.1}} > {{Menu0.0}} </a></li>
            <li><a href={{Menu1.1}} > {{Menu1.0}} </a></li>
            <li><a href={{Menu2.1}} > {{Menu2.0}} </a></li>
            <li><a href={{Menu3.1}} > {{Menu3.0}} </a></li>
            <li id="profile" style="float:right"><a href="#"> {{profile ? profile : 'Non Autenticato'}} </a></li>
        </ul>
    </div>

    <h1>CIAO MEP!</h1>

    <p class="description">
        Ho iniziato da poco ad utilizzare <strong>Symfony</strong> però mi piace come framework e voglio imparare ad usarlo benissimo.
        Non sono il migliore, però avendo studiato Informatica sia all'<strong> ITIS di Fermo </strong> che
        all' <strong>Università di Camerino</strong> sono abituato con il continuo cambio di framework e linguaggi 
        e l'adattarmi è uno dei miei punti forti.
    </p>

    <div class="js-user-auth" data-is-authenticated="{{ profile ? 'I solemny swear that I am up to no good' : 'Nox' }}"></div>

    <div class="bottone"> 

        <button id ="spirits" type="button" class="btn btn-dark"> PRESS ME FOR SPIRITS IN CONSOLE </button>
        </br>
        </br>
        <button id ="message" type="button" class="btn btn-dark"> PRESS ME FOR MESSAGE IN CONSOLE </button>

    </div>

    {% if profile != "" %}
    <div class="usersofsite">

        <h2>Ecco i {{users|length}} utenti registrati per le sedute spiritiche! </h2>


        <ul id="users" >
            {% for user in users %}
                <li class="user">
                    {{user.name}} </br>
                    {{user.email}} </br>
                </li> </br>
            {% endfor %}
        </ul>

    </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
